
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;

  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  background: white;
}


/* Blog image max height*/
.image {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
}

/* Blog image auto hieght and centered*/
.popblogimage {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* Blog image auto hieght and centered*/
.blogimage {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   border-radius: 5px;
   padding: 40px;
   margin-left: 40px;
   margin-right: 40px;
   margin-bottom: 40px;
}

/* Add a card effect for articles */
.faq {
   background-color: white;
   border-radius: 5px;
   padding: 30px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

  .card {
   padding: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
}

