@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar-button {
  @apply px-4 py-2 inline-block ml-2 hover:bg-gray-200 rounded hover:no-underline;
}

.vertical-nav-button {
  @apply px-4 py-2 hover:bg-blue-300 hover:no-underline;
}

.header-image {
  background-image: url("/assets/header.jpg");
}

*[data-tooltip] {
    @apply relative border-b border-dotted cursor-help border-black;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: -0.2rem;
  left: 50%;
  
  margin-right: -9999999px;
  max-width: 15rem;
  min-width: 8rem;
  transform: translateY(100%) translateX(-50%);
  text-align: center;
  pointer-events: none;
}

.tooltip-open .tooltip {
  display: block;
}

.tooltip {
    background-color: #222;
    border-radius: 4px;
    color: white;
    padding: .7rem 1rem;
  }
  
  .section-header {
    @apply text-xl font-bold py-4 mb-4 border-b text-center;
  }

  .communication-item {
    @apply flex-1 text-center;
    min-width: 2em;
  }

  .communication-item a {
    display: inline-block;
  }

  .communication-item a>img {
    @apply inline-block w-1/2 rounded-full;
  }

  .communication-item p {
    @apply hover:underline text-center;
  }